@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "cabin", sans-serif;
}

:root {
  --primary-text-color: #222222;
  --secondary-text-color: #888;
  --accent-color: #8800c7;
  --white-color: #dddddd;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: auto;
}

.hover-link {
  cursor: pointer;
  border-radius: 4px;
}
.hover-link:hover {
  background-color: rgba(202, 202, 202, 0.2);
}
.hover-link:active {
  background-color: rgba(223, 223, 223, 0.3);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-primary {
  border: none;
  background-color: var(--accent-color);
  padding: 10px 20px;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
  color: var(--white-color);
}
ul {
  list-style: none;
}
