.Product {
  cursor: pointer;
  border: 1px solid var(--secondary-text-color);
  border-radius: 2px;
  padding-inline: 10px;
  .img-container {
    width: 100%;
    overflow: hidden;
    img {
      width: 100%;
      transition: 0.25s ease;
      &:hover {
        transform: scale(1.3);
      }
    }
  }

  .price {
    text-align: center;
    font-weight: bold;
    margin-block: 10px;
    font-size: 1.3rem;
  }
}
