.Navbar {
  height: 60px;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  .container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .right-side {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    .logout {
      font-size: 2rem;
      align-items: center;
      justify-content: center;
    }
  }
}
