.deleteProfile {
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    background-color: red;
  }
}
.UpdateProfile {
  margin-top: 70px;
  .container {
    padding-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 3px solid rgb(78, 78, 78);
    border-radius: 5px;
    .left-part {
      width: 100%;
      height: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      padding: 20px;
      display: flex;
      justify-content: center;
      label {
        min-width: 100px;
        display: flex;
        justify-content: center;
        img {
          border-radius: 50%;
          border: 5px dashed var(--border-color);
          width: 100%;
        }
      }
      #inputImg {
        display: none;
      }
      button {
        background-color: red;
        width: fit-content;
      }
    }
    .right-part {
      flex: 3;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 20px;
      form {
        width: 90%;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        min-height: 300px;
        flex-direction: column;
        input {
          letter-spacing: 1px;
          border-radius: 5px;
          width: 75%;
          height: 50px;
          padding: 10px;
          border: 3px solid var(--border-color);
          outline: none;
        }
        textarea {
          border-radius: 5px;
          border: 3px solid var(--border-color);
          outline: none;
          max-width: 75%;
          min-width: 75%;
          max-height: 100px;
          padding: 10px;
        }
        .bio {
          height: 100px;
        }
        .btn-primary {
          width: fit-content;
          border: none;
          height: fit-content;
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .UpdateProfile {
    .container {
      flex-direction: column;
      gap: 20px;
      .left-part {
        label {
          img {
            width: 100%;
          }
        }
      }
      .right-part {
        width: 100%;
      }
    }
  }
}
