.Profile {
  .container {
    display: flex;
    gap: 20px;
  }
  .left-part {
    flex: 2;
    overflow-y: auto;
  }
  .right-part {
    margin-top: 20px;
    flex: 1;
  }
  .profile-card {
    border: 1px solid var(--border-color);
    border-radius: 4px;
    text-align: center;
    padding: 40px;
    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }
    .user-name,
    .follower-info {
      margin-top: 12px;
    }
    .follower-info {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .follow,
    .update-profile {
      margin-top: 20px;
      display: block;
    }
  }
}
