* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
:root {
  --border-color: #d6d6d6;
  --accent-color: #458eff;
}

.btn-primary {
  background-color: var(--accent-color);
  color: white;
  cursor: pointer;
  border: none;
  padding: 7px 15px;
  border-radius: 5px;
}
.hover-link {
  cursor: pointer;
}
