.follower {
  display: flex;
  justify-content: space-around;
  height: 66px;
  width: 100%;

  .user-info {
    display: flex;
    align-items: center;
    height: 80%;
    gap: 20px;
    cursor: pointer;
  }
  align-items: center;
  .follow-link {
    color: var(--accent-color);
  }
}
