.Feed {
  height: calc(100vh - 60px);
  .container {
    display: flex;
    gap: 20px;
  }
  .left-part {
    flex: 2;
    overflow-y: scroll;
  }
  .right-part {
    margin-top: 20px;
    flex: 1;
  }
  .title {
    margin-bottom: 12px;
  }
}
