@media screen and (min-width: 541px) {
  .suggestions {
    position: fixed;
    width: 28%;
    right: 10px;
    z-index: 1;
    top: 85px;
  }
  .outlet {
    width: 70%;
  }
}

.suggestions {
  border: 3px solid rgb(78, 78, 78);
  border-radius: 5px;
  max-height: calc(100vh - 95px);
  overflow: auto;
  h3 {
    border-bottom: 2px solid rgb(78, 78, 78);
    padding: 10px;
  }
}
.home {
  padding: 10px;
}
