.signup {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  .signup-box {
    padding: 30px;
    min-width: 300px;
    border: 1px solid black;
  }
  h1 {
    text-align: center;
  }
  label,
  input {
    display: block;
    width: 100%;
  }
  input {
    padding: 8px 16px;
  }
  .submit {
    width: 50%;
  }
  .submit:hover {
    cursor: pointer;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .subheading {
    margin-top: 18px;
  }
}
