.Navbar {
  top: 0;
  right: 0;
  height: 75px;
  width: 100%;
  z-index: 100;
  position: fixed;
  background-color: rgb(255, 254, 247);
  border-bottom: 2px solid var(--border-color);
  .container {
    padding: 10px 30px;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .right-side {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    .logout {
      font-size: 200%;
      align-items: center;
      justify-content: center;
    }
  }
}
