.hero {
  height: calc(100vh - 75px);
  background-image: url("../../assets/banner.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  * {
    color: var(--white-color);
  }
  .hero-content {
    background: rgba($color: #000000, $alpha: 0.5);
    height: 100%;
    flex-direction: column;
    gap: 20px;
    h1 {
      font-size: 3rem;
    }
    .cta {
    }
  }
}
