.Feed {
  margin-top: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    gap: 20px;
  }
  .title {
    margin-bottom: 12px;
  }

  .following {
    display: none;
  }
}
@media screen and (min-width: 821px) {
  .Feed {
    justify-content: end;
    .container {
      gap: 40px;
      width: 60%;
    }
    .following {
      position: fixed;
      display: inline-block;
      top: 85px;
      left: 10px;
      width: 26%;
      max-height: calc(100vh - 95px);
      overflow: auto;
      border: 3px solid rgb(78, 78, 78);
      border-radius: 5px;
      h3 {
        border-bottom: 2px solid rgb(78, 78, 78);
        padding: 10px;
      }
    }
  }
}
